{% extends 'base.html' %}
{% block content %}
<div class="page-inner">
    <div class="page-title mb-15">
        <div class="pull-left">
            <h3 class="breadcrumb-header">Institutions</h3>
            <p class="text-muted mb-0">Institutes under Institutions</p>
        </div>
        <div class="pull-right">
            <div class="btn-group mx-auto">
                <ol class="breadcrumb hide-phone pt-4 pb-4 m-0">
                    <li class="breadcrumb-item"><a href="#">Eduvy</a></li>
                    <li class="breadcrumb-item"><a href="#">Institutions</a></li>
                    <li class="breadcrumb-item active">Institutions</li>
                </ol>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel mb-0">
                    <div class="panel-body">
                        <h4 class="mt-0 header-title"></h4>
                        <!--<p class="text-muted mb-30 font-15">Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient monte.</p>-->
                        <div class="row data-filter" style="padding-top:50px;">
                            <div class="col-md-1">
                            </div>
                            <form method="post" action="">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="search" id="searchput" name="search" placeholder="Search..."
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <button name="searchbutt" id="searchbut"
                                            class="btn btn-warning form-control search_btn">Search</button>
                                    </div>
                                </div>
                            </form>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <button name="addnew" class="btn btn-success form-control btn-add">Add <b
                                            class="fa fa-plus"></b></button>
                                </div>
                            </div>
                        </div>
                        <div>

                            <table class="table table-striped table-responsive data-list" id="myDiv">
                                <p id="demo"></p>
                                <thead>
                                    <tr>
                                        <th scope="col">Image</th>
                                        <th scope="col">Institution</th>
                                        <th scope="col">Chairman</th>
                                        <th scope="col">Contact Person</th>
                                        <th scope="col">Phone</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if users %}
                                    {% for i in users%}

                                    <tr>
                                        <td scope="row"><img class="eduvy-img-listview" src="media/{{i.image}}">
                                        </td>
                                        <td>{{i.name}}</td>
                                        <td>{{i.chairmanName}}</td>
                                        <td>{{i.contactPersonName}}</td>
                                        <td>{{i.contactPersonPhone}}</td>
                                        <td>{{i.contactPersonEmail}}</td>
                                        <td>{{i.address}}</td>
                                        <td>{{i.Status}}</td>
                                        <td>
                                            <span style="cursor:pointer;font-size:1em;" class="fa fa-pencil edit-column"
                                                id="{{i.id}}">
                                                <span style="cursor:pointer;margin-left:15px;color:red;font-size:1em;"
                                                    class="fa fa-trash delete-column" id="{{i.id}}">
                                                </span></span>
                                        </td>
                                    </tr>
                                    {% endfor %}

                                    {% else %}
                                    <tr>
                                        <td style="text-align:center" colspan="12"> No Data found !</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                            {% comment %} just copy this nav element fully to other pages and just change the name of the context. Here context is branches {% endcomment %}
                            {% comment %} Pagination Starts {% endcomment %}
                            <nav aria-label="Page navigation example" id = "pagination">
                                <ul class="pagination">
                                    {% if users.paginator.num_pages > 1 %}
                                    {% if users.has_previous %}
                                    <li>
                                        <a href="?page={{users.previous_page_number }}">
                                            << Prev</a>
                                    </li>
                                    {% endif %}
                                    {% for pg in users.paginator.page_range%}
                                    {% if posts.number == pg %}
                                    <li class="active" style="font-weight: 700;"><a href="?page={{ pg }}">{{pg}}</a>
                                    </li>
                                    {% else %}
                                    <li><a href="?page={{ pg }}">{{pg}}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                    {% if users.has_next %}
                                    <li>
                                        <a href="?page={{users.next_page_number }}">Next >></a>
                                    </li>
                                    {% endif %}
                                    {% endif %}
                                </ul>
                            </nav>
                            {% comment %} Pagination Ends {% endcomment %}
                            <div class="row data-add" style="padding-top:50px;display:none">
                                <form method="post" enctype="multipart/form-data"
                                    action="http://65.1.111.25/eduvy/admin/institution/add_institution">
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Institution Name</label>
                                                <input type="text" class="form-control" name="institution_name"
                                                    placeholder="Institution Name" required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Address</label>
                                                <input type="text" class="form-control" name="address"
                                                    placeholder="Address" required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Chairman Name</label>
                                                <input type="text" class="form-control" name="chairman_name"
                                                    placeholder="Chairman Name" required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Contact Person Name</label>
                                                <input type="text" class="form-control" name="contact_person_name"
                                                    placeholder="Contact Person Name" required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Contact Person Email</label>
                                                <input type="text" class="form-control" name="contact_person_email"
                                                    placeholder="Contact Person Email" required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Contact Person Phone</label>
                                                <input type="text" class="form-control" name="contact_person_phone"
                                                    placeholder="Contact Person Phone" required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Courses</label>
                                                <span class="multiselect-native-select"><select name="courses[]"
                                                        id="example-enableCaseInsensitiveFiltering" class="form-control"
                                                        multiple="">
                                                        <option value="active">Active</option>
                                                        <option value="inactive">Inactive</option>
                                                    </select>
                                                    <div class="btn-group"><button type="button"
                                                            class="multiselect dropdown-toggle btn btn-default"
                                                            data-toggle="dropdown" title="None selected"><span
                                                                class="multiselect-selected-text">None selected</span>
                                                            <b class="caret"></b></button>
                                                        <ul class="multiselect-container dropdown-menu">
                                                            <li class="multiselect-item multiselect-filter" value="0">
                                                                <div class="input-group"><span
                                                                        class="input-group-addon"><i
                                                                            class="glyphicon glyphicon-search"></i></span><input
                                                                        class="form-control multiselect-search"
                                                                        type="text" placeholder="Search"><span
                                                                        class="input-group-btn"><button
                                                                            class="btn btn-default multiselect-clear-filter"
                                                                            type="button"><i
                                                                                class="glyphicon glyphicon-remove-circle"></i></button></span>
                                                                </div>
                                                            </li>
                                                            <li class="multiselect-item multiselect-all"><a tabindex="0"
                                                                    class="multiselect-all"><label
                                                                        class="checkbox"><input type="checkbox"
                                                                            value="multiselect-all"> Select
                                                                        all</label></a></li>
                                                            <li><a tabindex="0"><label class="checkbox"
                                                                        title="Active"><input type="checkbox"
                                                                            value="active"> Active</label></a></li>
                                                            <li><a tabindex="0"><label class="checkbox"
                                                                        title="Inactive"><input type="checkbox"
                                                                            value="inactive"> Inactive</label></a></li>
                                                        </ul>
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>College Affiliation</label>
                                                <input type="file" class="form-control" name="institution_image"
                                                    required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Status</label>
                                                <select class="form-control" name="status">
                                                    <option value="Active">Active</option>
                                                    <option value="Inactive">Inactive</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12" style="padding-top:50px;">
                                        <div class="col-lg-6 text-right"><button class="btn btn-success">Submit</button>
                                        </div>
                                        <div class="col-lg-6 text-left"><button type="button"
                                                class="btn btn-danger btn-close">Close</button></div>
                                    </div>
                                </form>
                            </div>

                            <div class="row data-update" style="padding-top:50px;display:none">
                                <form method="post" enctype="multipart/form-data"
                                    action="http://65.1.111.25/eduvy/admin/institution/update_institution">
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Institution Name</label>
                                                <input type="text" class="form-control institution_name"
                                                    name="institution_name" placeholder="Institution Name" required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Address</label>
                                                <input type="text" class="form-control address" name="address"
                                                    placeholder="Address" required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Chairman Name</label>
                                                <input type="text" class="form-control chairman_name"
                                                    name="chairman_name" placeholder="Chairman Name" required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Contact Person Name</label>
                                                <input type="text" class="form-control contact_person_name"
                                                    name="contact_person_name" placeholder="Contact Person Name"
                                                    required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Contact Person Email</label>
                                                <input type="text" class="form-control contact_person_email"
                                                    name="contact_person_email" placeholder="Contact Person Email"
                                                    required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Contact Person Phone</label>
                                                <input type="text" class="form-control contact_person_phone"
                                                    name="contact_person_phone" placeholder="Contact Person Phone"
                                                    required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Courses</label>
                                                <span class="multiselect-native-select"><select name="courses[]"
                                                        id="example-enableCaseInsensitiveFiltering2"
                                                        class="form-control" multiple="">
                                                    </select>
                                                    <div class="btn-group"><button type="button"
                                                            class="multiselect dropdown-toggle btn btn-default"
                                                            data-toggle="dropdown" title="None selected"><span
                                                                class="multiselect-selected-text">None selected</span>
                                                            <b class="caret"></b></button>
                                                        <ul class="multiselect-container dropdown-menu"></ul>
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>College Affiliation</label>
                                                <input type="file" class="form-control" name="institution_image">
                                                <input type="text" name="_id" class="institution_id" hidden=""
                                                    style="display:none">
                                                <input type="text" name="image_path" class="image_path" hidden=""
                                                    style="display:none">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Status</label>
                                                <select class="form-control status" name="status">
                                                    <option value="Active">Active</option>
                                                    <option value="Inactive">Inactive</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12" style="padding-top:50px;">
                                        <div class="col-lg-6 text-right"><button class="btn btn-success">Submit</button>
                                        </div>
                                        <div class="col-lg-6 text-left"><button type="button"
                                                class="btn btn-danger btn-close">Close</button></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-footer">
        <!--<p>&copy; 2019 Fadmin - Crafted with <i class="mdi mdi-heart text-danger"></i> by ThemesBoss.</p>-->
    </div>
</div>
<script>
    $(document).ready(function () {

        $(".btn-add").click(function () {

            $(".data-list").hide();
            $(".data-filter").hide();
            $(".data-add").show();
            $("#pagination").hide();
            $(".header-title").html("Add Institute");

        });

        $(".btn-close").click(function () {

            $(".data-list").show();
            $(".data-filter").show();
            $(".data-add").hide();
            $(".data-update").hide();
            $(".header-title").html("");
            $("#pagination").show();
            

        });

        $(".edit-column").click(function () {
            var id = $(this).attr("id");
            $("#pagination").hide();
            

            if (id) {
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: 'http://65.1.111.25/eduvy/admin/institution/get_single_institution',
                    data: { _id: id },
                    success: function (html) {
                        $(".data-list").hide();
                        $(".data-filter").hide();
                        $(".data-update").show();
                        $(".header-title").html("Edit Institution");

                        $(".institution_name").val(html.name);
                        $(".chairman_name").val(html.chairmanName);
                        $(".contact_person_name").val(html.contactPersonName);
                        $(".contact_person_email").val(html.contactPersonEmail);
                        $(".contact_person_phone").val(html.contactPersonPhone);
                        $(".address").val(html.address);
                        $(".institution_id").val(html._id);
                        $(".image_path").val(html.image);
                        $(".status").val(html.status);
                    }
                });
            }
            else {
                alert("Something wrong please try after some time !");
            }
        });

        $(".delete-column").click(function () {
            var id = $(this).attr("id");

            if (confirm("Are you sure ? You want to delete this ?")) {
                $.ajax({
                    type: 'POST',
                    url: 'http://65.1.111.25/eduvy/admin/institution/delete_institution',
                    data: { _id: id },
                    success: function (html) {
                        window.location.reload();
                    }
                });
            }
            else {
                alert("Something wrong please try after some time !");
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        var pageRefresh = 10000; //5 s
        setInterval(function () {
            refresh();
        }, pageRefresh);
    });

    // Functions

    function refresh() {
        $('.table-striped').load(location.href + " .table-striped");
        console.log('hello');  
    }
</script>
{% endblock %}