{% extends 'base.html' %}
{% block content%}    

            <div class="page-inner">
               <div class="page-title mb-15">
                  <div class="pull-left">
                     <h3 class="breadcrumb-header">Dashboard</h3>
                     <p class="text-muted mb-0">Eduvy, India's first online admission facilitating app</p>
                  </div>
                  <div class="pull-right">
                     <div class="btn-group mx-auto">
                        <ol class="breadcrumb hide-phone pt-4 pb-4 m-0">
                           <li class="breadcrumb-item"><a href="#">Eduvy</a></li>
                           <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                     </div>
                  </div>
                  <div class="clearfix"></div>
               </div>
               <div id="main-wrapper">
                  <div class="row">
                     <div class="col-md-6 col-sm-6 col-xs-12 col-lg-3">
                        <div class="panel mb-30">
                           <div class="panel-body widget-desk">
                              <div class="pull-right">
                                 <h3 class="mt-0 mb-0 f-bold">48505 <span><i class="mdi mdi-arrow-up text-success"></i></span></h3>
                                 <p class="text-muted mb-0">Total Visits</p>
                              </div>
                              <div class="widget-icon"> <i class="mdi mdi-eye"></i> </div>
                              <div class="clearfix"></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12 col-lg-3">
                        <div class="panel mb-30">
                           <div class="panel-body widget-desk">
                              <div class="pull-right">
                                 <h3 class="mt-0 mb-0 f-bold">2832 <span><i class="mdi mdi-arrow-down text-danger"></i></span></h3>
                                 <p class="text-muted mb-0">Sales Analytics</p>
                              </div>
                              <div class="widget-icon"> <i class="mdi mdi-chart-line"></i> </div>
                              <div class="clearfix"></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12 col-lg-3">
                        <div class="panel mb-30">
                           <div class="panel-body widget-desk">
                              <div class="pull-right">
                                 <h3 class="mt-0 mb-0 f-bold">2658 <span><i class="mdi mdi-arrow-up text-success"></i></span></h3>
                                 <p class="text-muted mb-0">Daily Sales</p>
                              </div>
                              <div class="widget-icon"> <i class="mdi mdi-sale"></i> </div>
                              <div class="clearfix"></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6 col-xs-12 col-lg-3">
                        <div class="panel mb-30">
                           <div class="panel-body widget-desk">
                              <div class="pull-right">
                                 <h3 class="mt-0 mb-0 f-bold">$4926 <span><i class="mdi mdi-arrow-down text-danger"></i></span></h3>
                                 <p class="text-muted mb-0">Total Revenue</p>
                              </div>
                              <div class="widget-icon"> <i class="mdi mdi-currency-usd"></i> </div>
                              <div class="clearfix"></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-8 col-sm-12 col-xs-12 col-lg-8">
                        <div class="panel mb-30">
                           <div class="panel-body">
                              <h5 class="header-title mb-30 mt-0">Order Overview</h5>
                              <div id="morris-area-example" style="height:350px;"></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4">
                        <div class="panel mb-30">
                           <div class="panel-body">
                              <h5 class="header-title mb-30 mt-0">Yearly Revenue</h5>
                              <div id="morris-bar-example" style="height: 350px;"></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4">
                        <div class="panel mb-0">
                           <div class="panel-body">
                              <h4 class="header-title mt-0 mb-30">Type gadgets</h4>
                              <div id="morris-donut-example" style="height: 300px;"></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-8 col-sm-12 col-xs-12 col-lg-8">
                        <div class="panel mb-0">
                           <div class="panel-body">
                              <h4 class="mt-0 mb-30 header-title">Sale status</h4>
                              <table class="table tables-responsive mb-0">
                                 <thead>
                                    <tr>
                                       <th scope="col">#</th>
                                       <th scope="col">Date</th>
                                       <th scope="col">Sales</th>
                                       <th scope="col">Cancelled</th>
                                       <th scope="col">Delivered</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <th scope="row">1</th>
                                       <td>02/07/2018</td>
                                       <td>114</td>
                                       <td>12</td>
                                       <td><span class="badge badge-primary">Pending</span></td>
                                    </tr>
                                    <tr>
                                       <th scope="row">2</th>
                                       <td>02/10/2018</td>
                                       <td>80</td>
                                       <td>4</td>
                                       <td><span class="badge badge-success">success</span></td>
                                    </tr>
                                    <tr>
                                       <th scope="row">3</th>
                                       <td>12/08/2018</td>
                                       <td>256</td>
                                       <td>72</td>
                                       <td><span class="badge badge-primary">Pending</span></td>
                                    </tr>
                                    <tr>
                                       <th scope="row">4</th>
                                       <td>10/12/2018</td>
                                       <td>118</td>
                                       <td>04</td>
                                       <td><span class="badge badge-success">success</span></td>
                                    </tr>
                                    <tr>
                                       <th scope="row">5</th>
                                       <td>14/6/2018</td>
                                       <td>88</td>
                                       <td>09</td>
                                       <td><span class="badge badge-primary">Pending</span></td>
                                    </tr>
                                    <tr>
                                       <th scope="row">6</th>
                                       <td>21/9/2019</td>
                                       <td>25</td>
                                       <td>04</td>
                                       <td><span class="badge badge-primary">Pending</span></td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="page-footer">
                  <!--<p>&copy; 2019 Fadmin - Crafted with <i class="mdi mdi-heart text-danger"></i> by ThemesBoss.</p>-->
               </div>
            </div>       
	  	  <script>
	 $(document).ready( function(){
		$(".institution_changer").change(function(){
			var institution = $(this).val(); 
			$.ajax({
				type:'POST',
				url:'http://65.1.111.25/eduvy/admin/dashboard/change_institution',
				data:{institution:institution},
				success:function(html){
					window.location.reload();
				}
			});
		});
	 })
	</script>
{% endblock %}