{% extends 'base.html' %}

{% block content %}
<div class="page-inner">
    <div class="page-title mb-15">
        <div class="pull-left">
            <h3 class="breadcrumb-header">Banners</h3>
            <p class="text-muted mb-0">Banners under Institutions</p>
        </div>
        <div class="pull-right">
            <div class="btn-group mx-auto">
                <ol class="breadcrumb hide-phone pt-4 pb-4 m-0">
                    <li class="breadcrumb-item"><a href="#">Eduvy</a></li>
                    <li class="breadcrumb-item"><a href="#">Institutions</a></li>
                    <li class="breadcrumb-item active">Banners</li>
                </ol>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel mb-0">
                    <div class="panel-body">
                        <h4 class="mt-0 header-title"></h4>
                        <!--<p class="text-muted mb-30 font-15">Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient monte.</p>-->
                        <div class="row data-filter" style="padding-top:50px;">
                            <div class="col-md-1">
                            </div>
                            <form method="post" action="" autocomplete="off">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="search" id="searchput" name="search" placeholder="Search..."
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <button name="searchbutt" id="searchbut"
                                            class="btn btn-warning form-control">Search</button>
                                    </div>
                                </div>
                            </form>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <button name="addnew" class="btn btn-success form-control btn-add">Add <b
                                            class="fa fa-plus"></b></button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <br>
                            <!--Table Section-->
                            <table class="table table-hover table-striped table-responsive data-list">
                                <thead>
                                    <tr>
                                        <th scope="col">Images</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--Table Content 1-->
                                    {% for i in institute%}

                                    <tr>
                                        <td scope="row"><img src="media/{{i.Image}}" alt="" height="80px"></td>
                                        <td style="vertical-align: inherit;">{{i.Title}}</td>
                                        <td style="vertical-align: inherit;">{{i.Status}}</td>
                                        <td>
                                            <span style="cursor:pointer;font-size:1em;" class="fa fa-pencil edit-column"
                                                id="{{i.id}}">
                                            </span>
                                            <span style="cursor:pointer;margin-left:15px;color:red;font-size:1em;"
                                                class="fa fa-trash delete-column" id="{{i.id}}">
                                            </span>
                                        </td>
                                    </tr>

                                    {% endfor %}
                                </tbody>
                            </table>
                            <!--On click Add Button-->
                            <div class="row data-add" style="padding-top:50px;display:none">
                                <form method="post" enctype="multipart/form-data" action="institutebanner">
                                    <div class="col-lg-12">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Image</label>
                                                <input type="file" class="form-control" name="banner_image" required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Title</label>
                                                <input type="text" class="form-control" name="title" placeholder="Title"
                                                    required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Status</label>
                                                <select class="form-control status" name="status">
                                                    <option value="Active">Active</option>
                                                    <option value="Inactive">Inactive</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12" style="padding-top:50px;">
                                        <div class="col-lg-6 text-right"><button class="btn btn-success">Submit</button>
                                        </div>
                                        <div class="col-lg-6 text-left"><button type="button"
                                                class="btn btn-danger btn-close">Close</button></div>
                                    </div>
                                </form>
                            </div>
                            <div class="row data-update" style="padding-top:50px;display:none">
                                <form method="post" enctype="multipart/form-data"
                                    action="update_institutebanner">
                                    <div class="col-lg-12">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Image</label>
                                                <input type="file" class="form-control" name="banner_image" required="">
                                                <input type="text" style="display:none" hidden=""
                                                    class="form-control image_path" name="image_path">
                                                <input type="text" style="display:none" hidden=""
                                                    class="form-control banner_id" name="id">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Title</label>
                                                <input type="text" class="form-control banner-title" name="title"
                                                    placeholder="Title" required="">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Status</label>
                                                <select class="form-control status" name="status">
                                                    <option value="Active">Active</option>
                                                    <option value="Inactive">Inactive</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12" style="padding-top:50px;">
                                        <div class="col-lg-6 text-right"><button class="btn btn-success">Submit</button>
                                        </div>
                                        <div class="col-lg-6 text-left"><button type="button"
                                                class="btn btn-danger btn-close">Close</button></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-footer">
        <!--<p>&copy; 2019 Fadmin - Crafted with <i class="mdi mdi-heart text-danger"></i> by ThemesBoss.</p>-->
    </div>
</div>
</script>
<script>
    $(document).ready(function () {

        $(".btn-add").click(function () {

            $(".data-list").hide();
            $(".data-filter").hide();
            $(".data-add").show();
            $(".header-title").html("Add Staff");

        });

        $(".btn-close").click(function () {

            $(".data-list").show();
            $(".data-filter").show();
            $(".data-add").hide();
            $(".data-update").hide();
            $(".header-title").html("");

        });

        $(".edit-column").click(function () {
            var id = $(this).attr("id");            
            $(".data-list").hide();
            $(".data-filter").hide();
            $(".data-update").show();
            $(".header-title").html("Edit Institution Banner");
            if (id) {
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: 'list_institutebanner',
                    data: { id: id },
                    success: function (html) {

                        $(".banner_id").val(html[0]);
                        $(".banner-title").val(html[2]);
                        $(".image_path").val(html[1]);
                        $(".status").val(html[3]);
                    }
                });
            }
            else {
                alert("Something wrong please try after some time !");
            }
        });

        $(".delete-column").click(function () {
            var id = $(this).attr("id");

            if (confirm("Are you sure ? You want to delete this ?")) {
                $.ajax({
                    type: 'POST',
                    url: 'delete_institutebanner',
                    data: { id: id },
                    success: function (html) {
                        window.location.reload();
                    }
                });
            }
            else {
                alert("Something wrong please try after some time !");
            }
        });
    });
</script>
{% endblock %}